.ai-popup-delete__container {
    position: fixed;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.713);
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1, p, button, span {
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

    .ai-popup-delete__content {
        position: relative;
        width: 438px;
        background: white;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;

        .ai-popup-delete__logo,
        .ai-popup-delete__logo-second {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ai-popup-delete__logo {
            height: 52px;
            width: 52px;
            border-radius: 50%;
            background: #FFECEB;
            margin-bottom: 10px;
            .ai-popup-delete__logo-second {
                height: 42.16px;
                width: 42.16px;
                background: #F8D7D0;

                i {
                    color: #CD4D59;
                    font-size: 20px;
                }
            }
        }

        .ai-popup-delete--title {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: 500;
            color: #464646;
        }

        .ai-popup-delete--description {
            font-size: 13px;
            color: #616161;
            font-weight: 300;
            span {
                font-weight: 500;
                text-transform: capitalize;
            }
        }

        .ai-popup-delete__actions {
            margin-top: 20px;
            button {
                width: 150px;
                padding: 8px;
                color: white;
                background: #F14645;
                border: 1px solid #F14645;
                cursor: pointer;
                
                &:first-child {
                    background: white;
                    color: #F14645;
                    margin-right: 8px;
                }
            }
        }
    }
}