.ai-cover__container {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .ai-cover__title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing);
        margin-bottom: 1.25rem;
        h1 {
            font-size: 1.25rem;
        }
        h2 {
            margin-top: 0.188rem;
            font-size: 0.688rem;
        }
    }

    .ai-cover__for {
        margin-top: 1.25rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: var(--letter-spacing);
        p {
            font-size: 0.688rem;
            line-height: 1rem;
        }
        h1 {
            font-size: 1.5rem;
            margin: 0.625rem 0;
            width: 18.75rem;
        }
    }

    .ai-cover--open-btn {
        margin-top: 40px;
        text-transform: uppercase;
        background: #80948C;
        font-size: var(--button-font-size);
        color: white;
        height: 33px;
        width: 150px;
    }
}