.ai-cover__container,
.ai-cover__sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-cover__container {
    position: absolute;
    background: white;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    transition: .8s ease-out;
    background: url('../../../../assets/cover.png');
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;

    .ai-cover__sub-container {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
    
        .ai-cover__title {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: var(--letter-spacing);
            h1 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 0.688rem;
            }
        }

        .ai-cover--logo {
            width: 70%;
            margin: 3rem 0;
        }
    
        .ai-cover__for {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: var(--letter-spacing);
            p {
                font-size: 0.688rem;
            }
            h1, span {
                font-size: 1.25rem;
                width: 14.625rem;
            }
            .ai-cover__for-name {
                margin: 0.813rem 0;
            }
        }
    
        .ai-cover--open-btn {
            margin-top: 1.5rem;
            text-transform: uppercase;
            font-size: var(--button-font-size);
            padding: 0.313rem 0.625rem;
            color: white;
            background: rgb(69,56,156);
            background: linear-gradient(148deg, rgba(69,56,156,1) 0%, rgba(76,61,164,1) 100%);
            letter-spacing: 4px;
        }
    }
}

@media (min-width: 768px) {
    .ai-cover__container {
        width: var(--width-fit);
        .ai-cover__sub-container {
            padding: 0;
        }
    }
}