.ai-navigation__container {
    background: rgba(255, 255, 255, 0.965);
    position: fixed;
    z-index: 997;
    bottom: 0;
    width: 100%;
    
    .ai-navigation__sub-container {
        height: 4.1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .ai-navigation__left-side,
        .ai-navigation__right-side {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 8.188rem;
        }
        
        .ai-navigation__left-side {
            margin-right: 7rem;
        }

        .ai-navigation__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.688rem;
            width: 2.688rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 40%;
            }
            .ai-navigation__icon--default {
                display: block;
            }
            .ai-navigation__icon--active {
                display: none;
            }
            transition: .3s ease;

            &.active {
                background: #EBE6FF;
                .ai-navigation__icon--default {
                    display: none;
                }
                .ai-navigation__icon--active {
                    display: block;
                }
            }
        }

        .ai-navigation__qr-code {
            padding: 0.25rem;
            position: absolute;
            height: 4.188rem;
            width: 4.188rem;
            background: rgb(69,56,156);
            background: linear-gradient(148deg, rgba(69,56,156,1) 0%, rgba(76,61,164,1) 100%);
            border-radius: 50%;
            top: -2.05rem;

            .ai-navigation__qr-code__sub {
                border: 1px solid white;
                border-radius: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 55%;
                }
            }
        }
    }
}

@media (max-width: 390px) {
    .ai-navigation__container {
        .ai-navigation__sub-container {
            height: 4.1rem;

            .ai-navigation__left-side {
                margin-right: 5rem;
            }

            .ai-navigation__qr-code {
                top: -2.05rem;
            }
        }
    }
}

@media (max-width: 344px) {
    .ai-navigation__container {
        .ai-navigation__sub-container {
            height: 4rem;

            .ai-navigation__left-side {
                margin-right: 4rem;
            }

            .ai-navigation__qr-code {
                top: -2rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .ai-navigation__container {
        width: 430px;
    }
}