.ai-send-invitation__container {
    padding-left: 15%;
    .ai-send-invitation__container-content {
        padding: 0 31px;
        position: relative;
        .ai-send-invitation__form {
            width: 100%;
            padding-bottom: 70px;
            .ai-send-invitation__form-header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            .ai-select-input__container {
                margin-top: 10px;
            }
            .ai-input__container {
                &:not(first-child) {
                    margin-top: 10px;
                }
                &:last-child {
                    textarea {
                        height: 500px !important;
                    }
                }
            }
            .ai-send-invitation__form-template {
                margin-top: 10px;
                font-weight: 400;
                font-size: 20px;
            }
        }
        .ai-send-invitation-submit {
            position: fixed;
            bottom: 10px;
            right: 20px;
            padding: .5rem 1rem;
            background: #04a784;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            letter-spacing: 2px;
            cursor: pointer;
            &:disabled {
                cursor: not-allowed;
                background: #086e58;
            }
        }
    }
}