.ai-detail__container {
    min-height: 932px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2.813rem;
    position: relative;

    .ai-detail--background-gradient {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
    }

    .ai-detail__content {
        z-index: 2;
        box-shadow: 0px 18px 19.3px 1px rgba(142,142,142,0.75) inset;
        -webkit-box-shadow: 0px 18px 19.3px 1px rgba(142,142,142,0.75) inset;
        -moz-box-shadow: 0px 18px 19.3px 1px rgba(142,142,142,0.75) inset;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        min-height: 854px;
        width: 338px;
        background: white;
        border: 4px solid white;
        border-bottom: 0;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        padding: 0 2.1rem;
        
        .ai-detail__invitation {
            margin-top: 5.625rem;
            p {
                letter-spacing: 4px;
                font-weight: bold;
                font-size: 0.688rem;
            }
        }

        .ai-detail__title {
            text-transform: none;
            font-style: normal;
            margin: 1.563rem 0;
            h1 {
                color: var(--third-color);
                font-family: "Qwigley", cursive;
                font-size: 5.625rem;
                margin: 2rem 0;
                line-height: 4.375rem;
            }
        }
        .ai-detail--title-separator {
            color: var(--third-color);
            font-family: "Qwigley", cursive;
            text-transform: capitalize;
            font-size: 3.125rem;
            margin-top: -2.188rem;
        }

        .ai-detail__date,
        .ai-detail__location {
            img {
                width: 2.233rem;
                margin-bottom: 0.938rem;
            }
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 4px;
            font-weight: bold;
            margin-top: 2.125rem;
        }

        .ai-detail__location {
            .ai-detail__location--description {
                text-transform: none;
                font-size: 0.625rem;
                font-weight: normal;
                letter-spacing: normal;
            }
            .ai-detail__location--btn {
                margin-top: 1.313rem;
                margin-bottom: 4.188rem;
                color: white;
                text-transform: uppercase;
                background: rgb(69,56,156);
                background: linear-gradient(148deg, rgba(69,56,156,1) 0%, rgba(76,61,164,1) 100%);
                font-size: var(--button-font-size);
                padding: 0.313rem 0.625rem;
            }
        }
    }
}