@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Alex+Brush&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Qwigley&display=swap');

:root {
    --font-size: 0.875rem;
    --font-color: black;
    --main-color: #46399D;
    --secondary-color: #80948C;
    --third-color: #BA9400;
    --border-radius: 230px;
    --letter-spacing: 4px;
    --button-font-size: 0.938rem;
}

.ai__container {
    margin: 0 auto;
    font-family: "Abhaya Libre", serif;
    color: var(--font-color);
    background: white;
    section {
        // border: 1px solid red;
    }
}

@media (min-width: 768px) {
    // .ai__container {
    //     width: 400px;
    // }
}