:root {
    --font-size: 0.875rem;
    --font-color: black;
    --main-color: #46399D;
    --secondary-color: #80948C;
    --third-color: #BA9400;
    --border-radius: 230px;
    --letter-spacing: 4px;
    --button-font-size: 0.938rem;
    --width-fit: 430px;
}

.ai__container {
    font-family: "Abhaya Libre", serif;
    position: relative;
    color: var(--font-color);
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;

    section {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .ai__container {
        display: flex;
        .ai__container__content-left {
            background: rgba(255, 0, 0, 0.188);
            width: 35%;
            height: 100vh;
            position: fixed;
            display: none;
        }
        .ai__container__content {
            width: 100%;
            overflow-y: auto;
            .ai__container__content-main {
                margin: 0 auto;
                width: var(--width-fit);
                min-height: 100vh;
            }
        }
        .ai__container__content-right {
            display: none;
            right: 0;
            position: fixed;
            background: rgba(0, 0, 255, 0.241);
            background: rgb(0, 0, 255);
            width: 35%;
            height: 100vh;
        }
    }
}