:root {
    --font-size: 0.875rem;
    --font-color: black;
    --main-color: #46399D;
    --secondary-color: #80948C;
    --third-color: #BA9400;
    --border-radius: 230px;
    --letter-spacing: 4px;
    --button-font-size: 0.938rem;
}

.ai__container {
    position: relative;
    margin: 0 auto;
    font-family: "Abhaya Libre", serif;
    color: var(--font-color);
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    padding-bottom: 5rem;

    section {
        // border: 1px solid red;
    }
}

@media (min-width: 768px) {
    .ai__container {
        width: 430px;
    }
}