.ai-events__container {
    padding-left: 15%;

    .ai-events__container-content {
        padding: 0 31px;

        .ai-events__event-times {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            .ai-events__event-time {
                text-align: center;
                background: #f8ba6c;
                padding: 2.5px 10px;
                font-size: 13px;
                border-radius: 20px;
                font-weight: 500;
                &:not(:first-child) {
                    margin-top: 5px;
                }
            }
        }
    }
}