.ai-quote__container {
    position: relative;
    background: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    font-size: var(--font-size);

    .ai-quote--dua {
        margin-top: 1.75rem;
        font-weight: bold;
    }

    .ai-quote--dua-translate {
        margin-top: 2rem;
    }

    .ai-quote--surah {
        margin-top: 2rem;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .ai-quote__container {
        width: 100%;
    }
}