.ai-quote__container {
    height: 932px;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .ai-quote__content,
    .ai-quote__sub-content {
        box-shadow: 0px 18px 19.3px 1px rgba(142,142,142,0.75) inset;
        -webkit-box-shadow: 0px 18px 19.3px 1px rgba(142,142,142,0.75) inset;
        -moz-box-shadow: 0px 18px 19.3px 1px rgba(142,142,142,0.75) inset;
        width: 100%;
    }

    .ai-quote__content--background-gradient {
        z-index: 1;
        position: absolute;
        bottom: -20%;
        width: 100%;
    }
    
    .ai-quote__content {
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        height: 93%;
        padding: 2.375rem;
        padding-top: 3.375rem;
        border-top: 4px solid white;
        position: relative;

        
        .ai-quote__sub-content {
            z-index: 2;
            position: relative;
            border: 4px solid white;
            border-radius: var(--border-radius);
            min-height: 597px;
            padding: 0 2.125rem;
    
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: var(--font-size);
    
            .ai-quote--dua {
                margin-top: 1.75rem;
                font-weight: bold;
            }
    
            .ai-quote--dua-translate {
                margin-top: 0.688rem;
            }
    
            .ai-quote--surah {
                margin-top: 1.75rem;
                font-weight: bold;
                color: var(--main-color);
            }

            .ai-quote--rose {
                position: absolute;
                bottom: 0;
                margin-bottom: -4.563rem;
                height: 9.125rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .ai-quote__container {
        .ai-quote__content {
            padding-top: 2.6rem;
            padding-right: 1.6rem;
            padding-left: 1.6rem;
        }
    }
}

@media (min-height: 885px) {
    .ai-quote__container {
        height: 830px;
    }
}