.ai-popup-form-wrapper__container,
.ai-popup-form-wrapper__container .ai-popup-form-wrapper__content .ai-popup-form-wrapper__header,
.ai-popup-form-wrapper__container .ai-popup-form-wrapper__content .ai-popup-form-wrapper--close,
.ai-popup-form-wrapper__container .ai-popup-form-wrapper__content .ai-popup-form-wrapper__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-popup-form-wrapper__container {
    position: fixed;
    z-index: 1001;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.713);
    overflow: hidden;
    padding: 0 0.938rem;
    button, h1 {
        font-family: "Poppins", sans-serif;
    }
    .ai-popup-form-wrapper__content {
        position: relative;
        width: 100% !important;
        padding: .5rem;
        background: white;
        .ai-popup-form-wrapper--close {
            position: absolute;
            z-index: 1001;
            top: -0.625rem;
            right: -0.625rem;
            width: 1.875rem;
            height: 1.875rem;
            background: #F94C4C;
            border-radius: 50%;
            color: white;
            cursor: pointer;
        }
        .ai-popup-form-wrapper__header {
            margin-bottom: 0.625rem;
            justify-content: space-between;
            .ai-popup-form-wrapper__header--title {
                font-weight: 500;
                font-size: 0.938rem;
                color: #464646;
                text-transform: capitalize;
            }
            .ai-popup-form-wrapper__header--close {
                cursor: pointer;
            }
        }
        .ai-popup-form-wrapper__actions {
            margin-top: 0.625rem;
            width: 100%;
            button {
                cursor: pointer;
                padding: 8px;
                width: 180px;
                font-size: 13px;
                font-family: "Poppins", sans-serif;
                background: #1C2B56;
                border: 1px solid #1C2B56;
                color: white;
                &.cancel {
                    background: white;
                    border: 1px solid #F14645;
                    color: #F14645;
                }
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}