.ai-popup-form-wrapper__container {
    position: fixed;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.713);
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .ai-popup-form-wrapper__content {
        font-family: "Poppins", sans-serif;
        position: relative;
        padding: 1rem;
        background: white;
        
        .ai-popup-form-wrapper--close {
            position: absolute;
            z-index: 1001;
            top: -0.625rem;
            right: -0.625rem;
            width: 1.875rem;
            height: 1.875rem;
            background: #F94C4C;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
        }

        .ai-popup-form-wrapper--title {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: -5px;
        }

        .ai-popup-form-wrapper__actions {
            margin-top: 11px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                cursor: pointer;
                height: 47px;
                width: 202px;
                border-radius: 4px;
                font-size: 15px;
                font-family: "Poppins", sans-serif;
                background: #1C2B56;
                border: 1px solid #1C2B56;
                color: white;
                &.cancel {
                    background: white;
                    border: 1px solid #F14645;
                    color: #F14645;
                }
                &:first-child {
                    margin-right: 14px;
                }
            }
        }
    }
}