.ai-gift__container,
.ai-gift__container .ai-gift__thanks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-gift__container {
    flex-direction: column;
    text-align: center;
    .ai-gift__thanks {
        width: 100%;
        background: url('../../../../assets/white_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        flex-direction: column;
        padding: 2rem;
        transition: .7s ease;
        opacity: 0;
        h1 {
            font-size: 1rem;
            letter-spacing: 4px;
        }
        p {
            margin-top: 1rem;
            width: 21.188rem;
            font-size: 0.875rem;
            line-height: 20px;
        }
        .ai-gift__thanks--seeyou {
            font-weight: 700;
        }
        .ai-gift--btn {
            letter-spacing: 2px;
            line-height: 20px;
            margin-top: 1.313rem;
            color: white;
            text-transform: uppercase;
            background: #2E3092;
            font-size: var(--button-font-size);
            padding: .4rem 1rem;
            cursor: pointer;
        }
    }
    .ai-gift__cover {
        width: 100%;
        height: 450px;
        transition: .7s ease;
        opacity: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            cursor: pointer;
            height: 100%;
        }
    }

    .ai-gift__footer {
        padding: 2rem;
        padding-bottom: 8rem;
        width: 100%;
        background: #847D65;
        p {
            font-size: 0.5rem;
            color: white;
            text-align: center;
        }
    }

    .ai-gift__footer-section {
        width: 100%;
        transition: .7s ease;
        opacity: 0;
    }
}

.ai-gift__popup {
    .ai-gift__popup-cards {
        position: inherit;
        z-index: 1000;
        width: 100%;
        flex-direction: column;
        padding-bottom: 1.813rem;
    
        .ai-gift__popup-card {
            background: rgb(56,56,60);
background: linear-gradient(141deg, rgba(56,56,60,1) 0%, rgba(5,5,7,1) 100%);
            border: 3px solid rgb(231, 132, 12);
            border-radius: 5px;
            margin: 0 auto;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 1rem;
            height: 230px;
    
            .ai-gift__popup-card__content {
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 100%;
                
                .ai-gift__popup-card__content--id {
                    font-family: "Inter", serif;
                    align-self: flex-end;
                    font-size: 1.563rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                .ai-gift__popup-card__content-detail {
                    flex-direction: column;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
    
                    img {
                        width: 2rem;
                    }
    
                    p {
                        font-family: "Inter", serif;
                        font-size: .9rem;
                        margin-top: 0.563rem;
                        font-weight: 400;
                        &:last-child {
                            margin-top: 1px;
                        }
                    }
                }
    
                .ai-gift__popup-card__content--copy {
                    font-family: "Inter", serif;
                    align-self: flex-end;
                    background: #ffffff51;
                    color: white;
                    font-size: 1rem;
                    padding: .3rem .5rem;
                    cursor: pointer;
                }
            }
    
            .ai-gift__popup-card--background {
                position: absolute;
                width: 100%;
                height: 100%;
            }
    
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}