.ai-layout__container {
    font-family: "Poppins", sans-serif;

    .ai-layout__content {
        position: relative;
        width: 100%;

        .ai-layout__content-header {
            height: 13vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-bottom: 5px;
            padding-left: 16%;
            h1 {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-size: 30px;
            }
        }

        .ai-layout__content-content {
            min-height: 87vh;
        }
    }
}