.ai-gallery__container {
    position: relative;
    padding: 2rem;
    background: #2E3092;
    .ai-gallery__content {
        .ai-gallery__title {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 4px;
            line-height: 20px;
            color: white;
            h1 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 0.688rem;
            }
        }
        .ai-gallery__photos {
            margin-top: 35px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            .ai-gallery__photo {
                height: 250px;
                background: #D9D9D9;
            }
        }
    }
}