.ai-sidebar__container .ai-sidebar__logo,
.ai-sidebar__container .ai-sidebar__menu .ai-sidebar__item,
.ai-sidebar__container .ai-sidebar__menu .ai-sidebar__item .ai-sidebar__item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-sidebar__container {
    width: 15%;
    left: -15%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #1C2B56;
    h1, p {
        font-family: "Poppins", sans-serif;
    }
    .ai-sidebar__logo {
        height: 4.375rem;
        width: 100%;
        img {
            width: 80%;
        }
    }
    .ai-sidebar__menu {
        .ai-sidebar__item {
            justify-content: initial;
            height: 50px;
            position: relative;
            transition: .3s;
            cursor: pointer;

            .ai-sidebar__item-logo {
                margin-left: 10px;
                margin-right: 5px;
                height: 30px;
                width: 40px;
                i {
                    color: white;
                    font-size: 14px;
                }
            }

            p {
                font-size: 13px;
                color: white;
            }

            &::before {
                left: 0;
                bottom: 0;
                content: '';
                display: absolute;
                height: 100%;
                width: 3px;
                background: none;
            }

            &:hover,
            &.active {
                background: rgba(255, 255, 255, 0.069);

                i {
                    color: #7DDAD8;
                }

                &::before {
                    background: #A475E7;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .ai-sidebar__container {
        left: 0;
    }
}