.ai-sidebar__container {
    width: 16%;
    height: 100vh;
    position: fixed;
    padding: 1.5rem 2rem;
    background: white;

    .ai-sidebar__header {
        height: 50px;
        width: 50px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 20px;
        h1 {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: white;
            font-size: 20px;
        }
    }

    .ai-sidebar--menu {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0 10px 20px;
    }

    .ai-sidebar__items {
        width: 100%;
        height: 100px;

        .ai-sidebar__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;

            .ai-sidebar__logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 30px;
                width: 30px;
                margin: 0 15px 0 20px;
            }

            p {
                font-family: "Poppins", sans-serif;
                font-size: 15px;
            }

            border: 1px solid white;
            transition: .3s;
            border-radius: 5px;
            &:hover, &.active {
                background: #141568ca;
                color: white;
                border: 1px solid black;
            }
        }
    }
}