.ai-sidebar__container {
    width: 257px;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #1C2B56;

    h1, p {
        font-family: "Poppins", sans-serif;
    }

    .ai-sidebar__logo {
        height: 85px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
        }
    }

    .ai-sidebar__menu {
        .ai-sidebar__item {
            height: 61px;
            display: flex;
            align-items: center;
            position: relative;
            transition: .3s;
            cursor: pointer;

            .ai-sidebar__item-logo {
                margin-left: 27px;
                margin-right: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 40px;
                i {
                    color: white;
                    font-size: 20px;
                }
            }

            p {
                font-size: 15px;
                color: white;
            }

            &::before {
                left: 0;
                bottom: 0;
                content: '';
                display: absolute;
                height: 100%;
                width: 5px;
                background: none;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }

            &:hover,
            &.active {
                background: rgba(255, 255, 255, 0.069);

                i {
                    color: #7DDAD8;
                }

                &::before {
                    background: #A475E7;
                }
            }
        }
    }
}