.ai-select-input__container {
    width: 100%;
    position: relative;
    
    .ai-select-input__btn {
        display: flex;
        background: white;
        width: 100%;
        padding: 10px 8px;
        font-size: 13px;
        font-weight: 400;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: .5px solid rgba(0, 0, 0, 0.444);

        span {
            font-family: "Poppins", sans-serif;
            color: rgba(0, 0, 0, 0.444);
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            &.value {
                font-weight: 300;
                color: #252525;
            }
        }

        i {
            font-size: 13px;
        }
    }

    .ai-select-input__options {
        position: absolute;
        z-index: 500;
        width: 100%;
        background: white;
        border: .5px solid rgba(0, 0, 0, 0.444);
        overflow-y: auto;
        margin-top: 10px;
        .ai-select-input__option {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px 8px;
            cursor: pointer;
            background: white;
            transition: .1s;
            &:not(:last-child) {
                border-bottom: .5px solid rgba(0, 0, 0, 0.444);
            }
            
            span {
                font-size: 13px;
                font-family: "Poppins", sans-serif;
            }

            &:hover, &.active {
                background: #F9BA6C;
            }
        }
    }
}