.ai-event-detail__container {
    padding-left: 15%;
    
    .ai-event-detail__container-content {
        padding: 0 31px;

        h1, p, span {
            font-family: "Poppins", sans-serif;
        }

        .ai-event-detail__header {
            .ai-event-detail__header--title {
                font-weight: 600;
                color: #333333;
                text-transform: capitalize;
                font-size: 45px;
            }
            .ai-event-detail__header-info {
                margin-top: -10px;
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .ai-event-detail__header--description {
                    font-weight: 400;
                    color: #333333;
                    text-transform: capitalize;
                    font-size: 15px;
                }
                .ai-event-detail__header-times {
                    margin-left: 5px;
                    span {
                        background: #F9BA6C;
                        font-size: 12px;
                        padding: 1px 8px;
                        border-radius: 20px;
                        &:not(:first-child) {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }

        .ai-event-detail__tabs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            .ai-event-detail__tab {
                border-radius: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: .5px solid rgba(0, 0, 0, 0.574);
                cursor: pointer;
                transition: .1s;
                font-size: 20px;
                font-weight: 500;
                color: #333333;

                &.active {
                    color: white;
                    background: #1C2B56;
                }
            }
        }

        .ai-event-detail__guests-info {
            margin: 10px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            div {
                border-radius: 60px;
                flex-direction: column;
                border: .5px solid rgba(0, 0, 0, 0.574);
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-weight: 300;
                    &:last-child {
                        font-weight: 400;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}