.ai-popup-guest-form__inputs {
    display: flex;
    justify-content: space-between;
    .ai-popup-guest-form__input {
        width: 49%;
    }

    &:not(:first-child) {
        margin-top: 11px;
    }
}