.ai-popup-guest-form__inputs {
    display: flex;
    justify-content: space-between;
    .ai-popup-guest-form__input {
        width: 50%;
        &:first-child {
            margin-right: 10px;
        }
    }

    &:not(:first-child) {
        margin-top: 10px;
    }
}