table {
    width: 100%;
    border-collapse: collapse; 
    thead tr th {
        border-bottom: .5px solid black;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        padding: 10px 0;
        font-size: 13px;
    }
    tbody tr {
        &:nth-child(odd) {
            background-color: #f9fafd;
        }
        tr:nth-child(even) {
            background-color: #ffffff;
        }

        td {
            font-size: 13px;
            font-weight: 300;
            border-bottom: .5px solid black;
            font-family: "Poppins", sans-serif;
            padding-left: 10px;
            padding: 5px 0 5px 10px;
            vertical-align: middle;
            &:first-child {
                padding-left: 0;
                text-align: center;
            }
       }
    }
}