.ai-brides__container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .ai-brides--background-gradient {
        position: absolute;
        bottom: -35%;
        width: 100%;
        z-index: 1;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .ai-brides__bride-container {
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .ai-brides__bride-image {
            box-shadow: 3px 5px 2px 0px rgba(0,0,0,0.25) inset;
            -webkit-box-shadow: 3px 5px 2px 0px rgba(0,0,0,0.25) inset;
            -moz-box-shadow: 3px 5px 2px 0px rgba(0,0,0,0.25) inset;
            width: 50%;
            height: 24.063rem;
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

        .ai-brides__bride-detail {
            width: 50%;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.625rem;
            padding-right: 1rem;
            text-align: center;

            .ai-brides__bride-detail__nickname {
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                h1 {
                    font-size: 3rem;
                    font-family: "Arizonia", cursive;
                }
                span {
                    width: 7.813rem;
                    border-bottom: 2px solid black;
                }
            }

            .ai-brides__bride-detail__info {
                line-height: 20px;
                letter-spacing: 2px;
                margin-top: 0.688rem;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 95%;
                
                .ai-brides__bride-detail__info--name {
                    font-family: "Aclonica", sans-serif;
                    font-size: 0.875rem;
                }

                p {
                    margin: 0.688rem 0;
                }
            }

        }
        &:last-child {
            .ai-brides__bride-detail {
                align-items: center;
                padding-right: 0rem;
                padding-left: 1rem;

                .ai-brides__bride-detail__nickname {
                    align-items: center;
                    font-size: 3.75rem;
                }
            }

            .ai-brides__bride-image {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
            }
        }
    }

    .ai-brides--bride-flower {
        position: absolute;
        height: 8rem;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        z-index: 5;
    }
}