.ai-brides__container,
.ai-brides__container .ai-brides--content,
.ai-brides__container .ai-brides--content .ai-brides__detail,
.ai-brides__container .ai-brides--content .ai-brides__detail, .ai-brides__detail-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-brides__container {
    background: rgb(65,68,94);
    background: linear-gradient(141deg, rgba(65,68,94,1) 0%, rgba(0,0,0,1) 100%);
    padding: 300px 2rem;
    justify-content: center;

    .ai-brides--content {
        height: 906px;
        width: 100%;
        border: 3px solid white;
        border-radius: 120px;
        flex-direction: column;

        .ai-brides__detail {
            flex-direction: column;
            text-align: center;
            color: white;
            .ai-brides__detail-photo {
                flex-direction: column;
                width: 207px;
                height: 385px;
                border-radius: 203px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .ai-brides__detail--name {
                font-family: "Noto Serif", serif;
                text-transform: uppercase;
                font-size: 30px;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    border: .5px solid white;
                    width: 90%;
                    margin: 0 auto;
                }
            }
            .ai-brides__detail--fullname,
            .ai-brides__detail-family p {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .ai-brides__detail--fullname {
                margin-top: 16px;
            }
            .ai-brides__detail-family {
                margin-top: 8px;
                .ai-brides__detail-family--from {
                    margin-bottom: 5px;
                }
            }
            &.bride {
                .ai-brides__detail--name {
                    margin-top: 30px;
                }
            }
            &.groom {
                .ai-brides__detail-photo {
                    margin-top: 30px;
                }
            }
        }

        .ai-brides--flower-separator {
            width: 30%;
            margin: 40px 0;
        }
    }
}