.ai-wish__container {
    .ai-wish__form {
        padding: 2.563rem 2.813rem;
        background: rgb(69,56,156);
        background: linear-gradient(148deg, rgba(69,56,156,1) 0%, rgba(76,61,164,1) 100%);
        h1 {
            font-size: 1rem;
            letter-spacing: 4px;
            line-height: 20px;
            text-align: center;
            color: white;
        }
        form {
            margin-top: 1.188rem;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
    
            textarea, button {
                width: 20.25rem;
                min-height: 9.5rem;
                margin-bottom: 15px;
                border: 1px solid #DADADA;
                font-size: 1rem;
                border-radius: 7px;
                padding: 10px;
                &::placeholder {
                    color: #AEAEAE;
                }
            }
    
            button {
                border: none;
                border-radius: 7px;
                min-height: 2.125rem;
                background: #C59949;
                color: white;
                height: 3.125rem;
            }
        }
    }

    .ai-wish__wishes {
        overflow-y: scroll;
        background: url('../../../../assets/wish_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .ai-wish__wishes-items {
            max-height: 74.563rem;
            padding: 40px 0;
            .ai-wish__wishes-item {
                display: flex;
                justify-content: space-between;
                width: 22.25rem;
                margin: 0 auto;
                border-radius: 7px;

                .ai-wish__wishes-item__initial {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2.625rem;
                    width: 2.625rem;
                    border-radius: 50%;
                    background: white;
                    h1 {
                        font-size: 24px;
                    }
                }
                .ai-wish__wishes-item__detail {
                    background: rgba(255, 255, 255, 0.858);
                    width: 18.625rem;
                    min-height: 5.125rem;
                    padding: 0.6rem;
                    border-radius: 7px;
                    flex-direction: column;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .ai-wish__wishes-item__detail-header {
                        p {
                            &:nth-of-type(1) {
                                font-size: 0.875rem;
                                font-weight: 500;
                            }
                            &:nth-of-type(2) {
                                font-size: 0.625rem;
                            }
                        }
                        margin-bottom: 0.313rem;
                    }
                    .ai-wish__wishes-item__detail--footer {
                        font-size: 8px;
                        color: #AEAEAE;
                    }
                }
                &:not(:first-child) {
                    margin-top: 15px;
                }
            }
        }
    }
}