.ai-wish__container {
    .ai-wish__form {
        padding: 2rem;
        background: #2E3092;
        text-transform: uppercase;
        h1 {
            font-size: 1rem;
            letter-spacing: 4px;
            line-height: 20px;
            text-align: center;
            color: white;
        }
        form {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.188rem;
            textarea {
                border: none;
                height: 150px !important;
            }
            button {
                margin-top: 10px;
                width: 100%;
                padding: 0 8px;
                height: 40px;
                font-size: var(--button-font-size);
                color: white;
                background: #C59949;
            }
        }
    }

    .ai-wish__wishes {
        background: url('../../../../assets/wish_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .ai-wish__wishes-items {
            overflow-y: auto;
            height: 479px;
            padding: 40px 0;
            .ai-wish__wishes-item {
                display: flex;
                justify-content: space-between;
                width: 22.25rem;
                margin: 0 auto;
                border-radius: 7px;

                .ai-wish__wishes-item__initial {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2.625rem;
                    width: 2.625rem;
                    border-radius: 50%;
                    background: white;
                    h1 {
                        font-size: 24px;
                    }
                }
                .ai-wish__wishes-item__detail {
                    background: rgba(255, 255, 255, 0.858);
                    width: 18.625rem;
                    min-height: 5.125rem;
                    padding: 0.6rem;
                    border-radius: 7px;
                    flex-direction: column;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .ai-wish__wishes-item__detail-header {
                        p {
                            &:nth-of-type(1) {
                                font-size: 0.875rem;
                                font-weight: 500;
                            }
                            &:nth-of-type(2) {
                                font-size: 0.625rem;
                            }
                        }
                        margin-bottom: 0.313rem;
                    }
                    .ai-wish__wishes-item__detail--footer {
                        font-size: 8px;
                        color: #AEAEAE;
                    }
                }
                &:not(:first-child) {
                    margin-top: 15px;
                }
            }
        }
    }
}