.ai-guest__container {
    padding-left: 16%;
    padding-right: 20px;
    .ai-guest__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;

        .ai-guest--btn-create {
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            height: 38px;
            width: 140px;
            border-radius: 3px;
            border: 1px solid #141668;
            color: #141668;
            cursor: pointer;
            transition: .1s;

            &:hover {
                background: #141668;
                color: white;
            }
        }
    }

    .ai-guest__td-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .ai-guest__td-actions__icon {
            background: #e5edf2;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                cursor: pointer;
                font-size: 12px;
            }
        }
    }
}