.ai-guest__container {
    table {
        thead tr th {
            border-bottom: 1px solid black;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            width: 230px;
            padding: 10px 0;

            &:first-child {
                width: 80px;
            }
        }
        tbody tr {
            &:nth-child(odd) {
                background-color: #1415682b;
            }
            tr:nth-child(even) {
                background-color: #ffffff;
            }

            td {
               font-family: "Poppins", sans-serif;
               padding-left: 10px;
               padding: 10px 0 10px 10px;
               vertical-align: top;
               &:first-child {
                   padding-left: 0;
                   text-align: center;
               }
           }
        }
    }
}